@font-face {
  font-family: "OpenDyslexic Demo";
  src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html,
body,
button,
input,
select,
textarea,
body *:not(code):not(pre):not(kbd):not(samp) {
  font-family: "OpenDyslexic Demo", sans-serif !important;
}
